@font-face {
  font-family: christmasFont;
  src: url(MerryChristmasFlake.ttf);
}

body{
  text-align: center;
  vertical-align: center;
}

p{
  color: #800000;
  font-family: christmasFont;
}

h1{
  color: #800000;
  font-size: 30px;
  font-family: christmasFont;
}

.bg {
  /* The image used */
  background-image: url("christmas-wallpaper.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
