@font-face {
  font-family: christmasFont;
  src: url(MerryChristmasFlake.ttf);
}

body{
  text-align: center;
  font-size: 30px;
  vertical-align: center;
  background-image: url("christmas-wallpaper.jpg");
}

h1{
  color: #990000;
  font-family: christmasFont;
}
